/* Colors */
/* ====== */

.mango         { color: $mu-mango;         }
.strawberry    { color: $mu-strawberry;    }
.peach         { color: $mu-peach;         }
.blueberry     { color: $mu-blueberry;     }
.pineapple     { color: $mu-pineapple;     }
.lowfat-plain  { color: $mu-lowfat-plain;  }
.classic-plain { color: $mu-classic-plain; }
.grey-dark     { color: $mu-grey-dark;     }
.white         { color: white;             }
.grey          { color: $grey;             }