/* Fonts */
/* ===== */

/* Bodoni */
$bodoni-extra-bold: 'Bodoni Extra Bold';
$bodoni-bold: 'Bodoni Bold';
$bodoni-regular-italic: 'Bodoni Regular Italic';
$bodoni-regular: 'Bodoni Regular';
$bodoni-black: 'Bodoni Black';

/* Lato */
$lato-hairline: 'Lato Hairline';
$lato-light: 'Lato Light';

/* Rockwell */
$rockwell-regular-italic: 'Rockwell Regular Italic';
$rockwell-light-italic: 'Rockwell Light Italic';
$rockwell-regular: 'Rockwell Regular';
$rockwell-light: 'Rockwell Light';
$rockwell-extra-bold: 'Rockwell Extra Bold';

/* Museo */
$museo: 'Museo';


/* Colors  */
$soft-grey-border: #e7e7e7;
$black: #151515;
$grey: #666;
$grey-dark: #333;
$grey-light: #999;


/* Muuna Colors */
$mu-green: #6dae20;
$mu-green-bg: #fafcf7;
$mu-light-green: #f4f8f0;

$mu-grey-dark: #4b4d49;
$mu-grey: #999b96;
$mu-grey-separator: #dadada;
$mu-white: #fcfcfa;
$mu-link-blue: #0084ff;
/* Events */
$mu-sampling: #6bad1c;
$mu-demos: #78d5df;
$mu-tradeshow: #e85e63;

/* Fruits */
$mu-mango: #f5b428;
$mu-strawberry: #c60a24;
$mu-peach: #ed894e;
$mu-blueberry: #2f75a7;
$mu-pineapple: #ecbd10;
$mu-lowfat-plain: #72af3a;
$mu-classic-plain: #32add8;
$mu-cup-features-bg: #fff8f0;
$mu-product-comparison-bg: #f0faff;
$mu-product-comparison-pretitle: #2474a7;
$mu-ergonomics-bg: #f1ebeb;


/* Random */
$transition-speed: 0.5s;
$header-height: 90px;
// $full-screen-height: calc(100vh - 90px);
$mu-shadow: 0px 4px 10px rgba(51,51,51,0.1);